*.la
*.lo
*.o
.deps
.libs
compile
m4/
src/indicator-application-service
src/notification-watcher-client.h
src/notification-watcher-server.h
src/application-indicator-enum-types.h
src/application-indicator-enum-types.c
src/stamp-enum-types
src/libappindicator_la-application-indicator-enum-types.lo
tests/libappindicator-check-results.xml
tests/libappindicator-check-results.html
tests/test-libappindicator
tests/test-libappindicator-dbus-client
tests/test-libappindicator-dbus-server
tests/libappindicator-tests
tests/test-libappindicator-dbus
src/gen-application-service.xml.c
src/gen-application-service.xml.h
src/application-service-server.h
src/application-service-marshal.c
src/application-service-marshal.h
src/stamp-marshal
tests/test-simple-app
example/simple-client
tests/libappindicator-tests-gtester
src/app-indicator-enum-types.c
src/app-indicator-enum-types.h
gtk-doc.make
py-compile
bindings/mono/appindicator-sharp-0.1.pc
*.dll
bindings/mono/appindicator-sharp.dll.config
bindings/mono/generated
bindings/mono/generated-stamp
bindings/mono/libappindicator-api.raw
bindings/mono/libappindicator-api.xml
bindings/mono/examples/indicator-example
bindings/python/appindicator.c
docs/reference/gtkdoc-in-srcdir
docs/reference/html
docs/reference/html-build.stamp
docs/reference/html.stamp
docs/reference/libappindicator-decl-list.txt
docs/reference/libappindicator-decl.txt
docs/reference/libappindicator-docs.sgml
docs/reference/libappindicator-overrides.txt
docs/reference/libappindicator-undeclared.txt
docs/reference/libappindicator-undocumented.txt
docs/reference/libappindicator-unused.txt
docs/reference/libappindicator.args
docs/reference/libappindicator.hierarchy
docs/reference/libappindicator.interfaces
docs/reference/libappindicator.prerequisites
docs/reference/libappindicator.signals
docs/reference/scan-build.stamp
docs/reference/sgml-build.stamp
docs/reference/sgml.stamp
docs/reference/tmpl-build.stamp
docs/reference/tmpl.stamp
docs/reference/version.xml
docs/reference/xml
docs/reference/tmpl/app-indicator.sgml
docs/reference/tmpl/app-indicator.sgml.bak
src/appindicator-0.1.pc
tests/test-libappindicator-fallback-item
tests/test-libappindicator-fallback-watcher
tests/test-libappindicator-fallback
tests/test-libappindicator-status
tests/test-libappindicator-status-client
tests/test-libappindicator-status-server
bindings/mono/libappindicator-api.middle
*.exe
src/app-indicator-enum-types.gen.c
*.tar.gz
*.tar.gz.asc
m4/gtk-doc.m4
src/AppIndicator-0.1.gir
src/AppIndicator-0.1.typelib
docs/reference/libappindicator-decl.txt.bak
docs/reference/libappindicator-decl-list.txt.bak
src/AppIndicator-0.1.vapi
tests/test-approver
tests/test-approver-tester
bindings/mono/policy.0.0.appindicator-sharp.config
indicator-application.conf
indicator-application.desktop
.vscode/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/indicator-application.service
data/upstart/Makefile
data/upstart/Makefile.in
depcomp
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
stamp-h1
test-driver
tests/Makefile
tests/Makefile.in
